<html xmlns:py="http://genshi.edgewall.org/"
xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <title>Discussions - Post</title>
    <link rel="stylesheet" type="text/css"
    href="/style/simple.css" />
    <style type="text/css">
      <!--
-->
    </style>
  </head>
  <body>
    <xi:include href="navigation.html" />
    <div id="Body">
      <xi:include href="sidebar.html" />
      <div id="Content">
        <div id="Form" class="StartDiscussion">
          <fieldset>
            <legend>Start a new discussion</legend>
            <form id="frmPostDiscussion" method="post"
            action='${h.url_for(controller="categories",action="post")}'>

              <div>
                <!--input type="hidden" name="FormPostBackKey" value="931528f988057e7dff4199b1ad3c3fb2" />
                <input type="hidden" name="DiscussionID"
                value="0" />
                <input type="hidden" name="CommentID" value="0" />
                <input type="hidden" name="AuthUserID" value="0" />
                <input type="hidden" name="UserDiscussionCount" value="0" />
                <input type="hidden" name="PostBackAction" value="SaveDiscussion" /-->
              </div>
              <ul>
                <li>
                  <label for="ddCategories">Select the category for
                  this discussion</label>
                  <select name="CategoryID" class="CategorySelect"
                  id="ddCategories">
                    <py:for each='i in c.categories'>
                      <option py:if='i[0]==c.category_id'
                      value="${i[0]}" selected='selected'>
                      ${i[1]}</option>
                      <option py:if='i[0]!=c.category_id'
                      value="${i[0]}">${i[1]}</option>
                    </py:for>
                  </select>
                </li>
                <li>
                  <label for="txtTopic">Enter your discussion
                  topic</label>
                  <input id="txtTopic" type="text" name="Name"
                  class="DiscussionBox" maxlength="100" value="" />
                </li>
                <li>
                  <label for="WhisperUsername">Whisper your
                  comments to 
                  <small>(optional)</small></label>
                  <input id="WhisperUsername"
                  name="WhisperUsername" type="text" value=""
                  class="Whisper AutoCompleteInput"
                  maxlength="20" />
                </li>
                <div id="quicktags"></div>
                <li>
                  <label for="CommentBox">
                  <a href="./" id="CommentBoxController">big
                  input</a>Enter your comments</label>
                  <textarea name="Body" class="SmallCommentBox"
                  id="CommentBox" rows="10" cols="85"></textarea>
                </li>
                <li id="CommentFormats">Format comments as 
                <!--input type="radio" name="FormatType"
                id="Radio_Text" value="Text" checked="checked"
                class="FormatTypeRadio" />
                <label for="Radio_Text" class="Radio">Text</label>
                <input type="radio" name="FormatType"
                id="Radio_Html" value="Html"
                class="FormatTypeRadio" />
                <label for="Radio_Html" class="Radio">
                Html</label--></li>
              </ul>
              <div class="Submit">
                <input type="submit" name="btnSave"
                value="Start your discussion"
                class="Button SubmitButton StartDiscussionButton" />
                <input name="btnPreview" value="Preview Post"
                class="Button SubmitButton PreviewButton"
                type="button" />
                <a class="CancelButton">Cancel and go back</a>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
      <a id="pgbottom" name="pgbottom">&#160;</a>
    </div>
  </body>
</html>
